.tic-tac-toe-container::after{
    clear: both;
    content: "";
    display: table;
    
    
     
}
.tic-tac-toe-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.square{
    border: 1px solid red;
    float: left;
    font-size: 40px ;
    height: 100px ;
    padding: 0;
    text-align: center;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
     
}

.tic-tac-toe-container button {
    padding: 10px 20px;
    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 10px;
    background-color: var(--button-bg);
    color: var(--btn-text);
    transition: all 0.5s;
}
