.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
.heading{
    display: flex;
    flex-direction: row;
    
    
}
.heading div{
    padding: 10px 20px;
    background-color: rgba(0, 255, 255, 0.658);
    transition: all 0.5s;
}
.heading div:hover{

    background-color: rgba(0, 255, 255, 0.404);
}
.heading .active{
    padding: 10px 30px;
    background-color: rgba(0, 255, 136, 0.514);
}