.wrapper{
    
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
   
    flex-direction: column;
    


}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    column-gap: 2rem;
    row-gap: 2rem;
}
.product-card{
    width: 300px;
    max-height: 500px;
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, 0.425);
    box-shadow: 5px 5px 10px #5555554f;
    padding: 10px;
    transition: all ease-in 100ms;
    display: flex;
    flex-direction: column;
}
.product-card:hover{
    
    transform: scale(1.02);
    box-shadow: 10px 10px 15px #5555554f;
}
.product-card img{
    
    object-fit: cover;
    width: 300px;
    height: 300px;
    
    border-radius: 25px;
}
.product-details{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    column-gap: 5px;
    justify-content: space-between;
}
.product-details h3{
    margin-bottom: 5px;
}
.product-details p{
    margin:0;
    margin-bottom: 10px;
}
.product-details button{
    
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(0, 102, 255, 0.363);
    border: none;
    transition: all linear 5ms;
    
    
}
.product-details button:hover{
    
    background-color: rgba(0, 102, 255, 0.527);
    
}
.load-more{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0.397);
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
    
}

.load-more:hover{
    background-color: rgba(137, 43, 226, 0.5);
}


@media screen and (max-width:1400px) {
    .products{
        grid-template-columns: 1fr 1fr 1fr;

    }
    
}
@media screen and (max-width:998px) {
    .products{
        grid-template-columns: 1fr 1fr;

    }
    
}
@media screen and (max-width:600px) {
    .products{
        grid-template-columns: 1fr;

    }
    
}