.github-profile-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 0;
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    border: 1px solid;
    border-bottom: none;

}

.input-wrapper input {
    padding: 12px;
    font-size: 16px;
    border: none;
}

.input-wrapper button {
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    background-color: #00f4ec;
    color: #000;
    cursor: pointer;
}

.user {
    padding: 15px;
    padding-top: 40px;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.user .image-div {

    display: flex;
    justify-content: center;
}

.avatar {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;

}


.name-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.name-container a {
    font-size: large;
    font-weight: 600;

}

.name-container p {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.profile-info div {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}